@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  @media print {
    body * {
      @apply invisible
    }
    #order-details, #order-details * {
      @apply visible;
    }
    #order-details {
      @apply absolute left-0 w-full top-0 ;
    }
    #print-buttons{
      @apply invisible
    }
  }
  